<div class="row">
  <div class="col-sm-12 col-md-4">
    <div class="card border-warning">
      <div class="card-header">
        Most common symptoms:
      </div>
      <div class="card-body">
        <ul>
          <li>fever</li>
          <li>cough</li>
          <li>tiredness</li>
          <li>loss of taste or smell</li>
          <li>diarrhoea</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4">
    <div class="card border-warning">
      <div class="card-header">
        Most common symptoms:
      </div>
      <div class="card-body">
        <ul>
          <li>sore throat</li>
          <li>headache</li>
          <li>aches and pains</li>
          <li>a rash on skin, or discolouration of fingers or toes</li>
          <li>red or irritated eyes.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4">
    <div class="card border-warning">
      <div class="card-header">
        Most common symptoms:
      </div>
      <div class="card-body">
        <ul>
          <li>difficulty breathing</li>
          <li>loss of speech or mobility,</li>
          <li>chest pain</li>
          <li>shortness of breath</li>
          <li>confusion</li>
        </ul>
      </div>
    </div>
  </div>
</div>
