<div class="row">
  <div class="col-sm-12 col-md-4">
    <div class="card border-warning">
      <div class="card-header">
        Most common symptoms:
      </div>
      <div class="card-body">
        <ul>
          <li>fever</li>
          <li>cough</li>
          <li>tiredness</li>
          <li>loss of taste or smell</li>
          <li>diarrhoea</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4">
    <div class="card border-warning">
      <div class="card-header">
        Less common symptoms:
      </div>
      <div class="card-body">
        <ul>
          <li>sore throat</li>
          <li>headache</li>
          <li>aches and pains</li>
          <li>a rash on skin, or discolouration of fingers or toes</li>
          <li>red or irritated eyes.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4">
    <div class="card border-warning">
      <div class="card-header">
        Serious symptoms:
      </div>
      <div class="card-body">
        <ul>
          <li>difficulty breathing</li>
          <li>loss of speech or mobility,</li>
          <li>chest pain</li>
          <li>shortness of breath</li>
          <li>confusion</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>Publications</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <div class="card border-warning">
      <div class="card-header">
        Considerations for implementing and adjusting public health and social measures in the context of COVID-19
      </div>
      <div class="card-body">
        <p>xThis document is an update to the interim guidance published on 4 November 2020 entitled “Considerations in
          adjusting public health and social measures in the context of COVID-19”. Public health and social measures
          (PHSM) have proven critical to limiting transmission of COVID-19 and reducing deaths. PHSM include
          non-pharmaceutical individual and societal interventions to control COVID-19. This updated version introduces
          considerations for relaxation of some PHSM for individuals with natural or vaccine-induced immunity.</p>
      </div>
      <div class="card-footer">
        <a href="https://apps.who.int/iris/rest/bitstreams/1351572/retrieve">
          <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> Download</button>
        </a>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4">
    <div class="card border-warning">
      <div class="card-header">
        Preventing and mitigating COVID-19 at work: policy brief, 19 May 2021
      </div>
      <div class="card-body">
        Workplaces outside of healthcare facilities can be also settings for transmission of COVID-19. Outbreaks of
        COVID-19 has been reported in various types of workplaces and job categories.
        All workers should be protected from acquiring COVID-19 because of their work. The prevention of COVID-19 in
        work settings should be combined with measures for protecting physical and mental health, safety and wellbeing
        of workers from other occupational hazards in the operation, closures and reopening of workplaces.
        This joint WHO/ILO policy brief provides a summary of the evidence for transmission of COVID-19 in general
        workplaces and an overview of WHO and ILO recommendations for prevention and mitigation of COVID-19 and for
        protecting health and safety at work in the context of the pandemic.
        The document is intended for public health and labour authorities, businesses, employers, workers and their
        representatives at the national, local and workplace levels to facilitate the implementation of public health
        and social measures for COVID-19 while maintaining full and productive employment and decent work during the
        pandemic.
      </div>
      <div class="card-footer">
        <a href="https://apps.who.int/iris/rest/bitstreams/1347444/retrieve">
          <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> Download</button>
        </a>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4">
    <div class="card border-warning">
      <div class="card-header">
        Reducing public health risks associated with the sale of live wild animals of mammalian species in traditional
        food markets
      </div>
      <div class="card-body">
        To reduce the public health risks associated with the sale of live wild animals for food in traditional food
        markets, WHO, OIE and UNEP have issued guidance on actions that national governments should consider adopting
        urgently with the aim of making traditional markets safer and recognizing their central role in providing food
        and livelihoods for large populations.
        In particular, WHO, OIE and UNEP call on national competent authorities to suspend the trade in live caught wild
        animals of mammalian species for food or breeding purposes and close sections of food markets selling live
        caught wild animals of mammalian species as an emergency measure.
        Although this document focuses on the risk of disease emergence in traditional food markets where live animals
        are sold for food, it is also relevant for other utilizations of wild animals. All these uses of wild animals
        require an approach that is characterized by conservation of biodiversity, animal welfare and national and
        international regulations regarding threatened and endangered species.
      </div>
      <div class="card-footer">
        <a href="https://cdn.who.int/media/docs/default-source/food-safety/ig--121-1-food-safety-and-covid-19-guidance-for-traditional-food-markets-2021-04-12-en.pdf?sfvrsn=921ec66d_1&download=true">
          <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> Download</button>
        </a>
      </div>
    </div>
  </div>
</div>
