<div class="card">
  <div class="card-header">
    <strong>Vaccinations</strong>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-striped table-sm">
      <thead>
        <tr>
          <th>Dose</th>
          <th>Vaccine</th>
          <th>Date of Vaccination</th>
          <th>Location</th>
          <th>After Effects</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Sinopharm</td>
          <td>2022/01/01</td>
          <td>MOH</td>
          <td>Headache</td>
          <td>
            <span class="badge badge-success">Done</span>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>Sinopharm</td>
          <td>2022/02/01</td>
          <td>MOH</td>
          <td>Arm Pain</td>
          <td>
            <span class="badge badge-success">Done</span>
          </td>
        </tr>
        <tr>
          <td>3</td>
          <td>-</td>
          <td>2022/02/01</td>
          <td>-</td>
          <td>-</td>
          <td>
            <span class="badge badge-info">Pending</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> Share</button>
  </div>
</div>

