<div class="card">
  <div class="card-header">
    <strong>Vaccinations</strong>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-striped table-sm">
      <thead>
        <tr>
          <th>Dose</th>
          <th>Vaccine</th>
          <th>Date of Vaccination</th>
          <th>Location</th>
          <th>After Effects</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vaccine of vaccinationData; let i=index">
          <td>{{i +1}}</td>
          <td>{{vaccine.vaccine}}</td>
          <td>{{getFormattedDate(vaccine.dateOfVaccination)}}</td>
          <td>{{vaccine.location}}</td>
          <td>{{vaccine.sideEffects.toString()}}</td>
          <td>
            <span class="badge badge-success">Done</span>
          </td>
        </tr>
        <tr>
          <td>{{vaccinationData.length + 1}}</td>
          <td>-</td>
          <td>{{getNextVaccinationDate()}}</td>
          <td>-</td>
          <td>-</td>
          <td>
            <span class="badge badge-info">Pending</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> Share</button>
  </div>
</div>

