<div class="row">
  <div class="col-md-12">
    <div class="card border-warning">
      <div class="card-header">
        <b>Help & Support Page</b>
      </div>
      <div class="card-body">
        <div>
          We are ready to assist you with any of your inquiries 24x7. Please contact us with below hotlines or email us
        </div>
        <br>
        <div>
          <ul>
            <li>Covid 19 Response Alert - <b>1999</b></li>
            <li>Ministry of Health - <b>0112 675 449</b></li>
            <li>Email - <b>info@covidstat.com</b> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
