<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <strong>Vaccination</strong>
      </div>
      <div class="card-body">
        <form class="form-horizontal" [formGroup]="nicSearchForm">
          <div class="form-group row">
            <div class="col-md-12">
              <div class="input-group">
                <input type="text" formControlName="nicSearchText" id="input2-group2" name="input2-group2" class="form-control" placeholder="National Identity Card Number (NIC)">
                <span class="input-group-append">
                  <button type="button" (click)="onNicSelect()" class="btn btn-primary">Select</button>
                </span>
              </div>
            </div>
          </div>
        </form>
        <div class="card" *ngIf="isFormVisible">
          <div class="card-header">
            <strong>Vaccination Data</strong>
          </div>
          <div class="card-body">
            <form [formGroup]="vaccinationForm" action="" method="post" enctype="multipart/form-data" class="form-horizontal">
              <div class="form-group row">
                <label class="col-md-3 col-form-label">NIC</label>
                <div class="col-md-9">
                  <p class="form-control-static"><b>{{nicSearchForm.get('nicSearchText').value}}</b></p>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label">Location</label>
                <div class="col-md-9">
                  <p class="form-control-static"><b>{{getLocation()}}</b></p>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select1">Vaccine</label>
                <div class="col-md-9">
                  <select id="select1" formControlName="vaccine" name="select1" class="form-control">
                    <option value="">Please select</option>
                    <option value="Sinopharm">Sinopharm</option>
                    <option value="AstraZeneca">AstraZeneca</option>
                    <option value="Sputnic">Sputnic</option>
                    <option value="Phicer">Phicer</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="date-input">Date of Vaccination</label>
                <div class="col-md-9">
                  <input class="form-control" [max]="maxDate" formControlName="dateOfVaccination" id="date-input" type="date" name="date-input" placeholder="date">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Batch Number</label>
                <div class="col-md-9">
                  <input type="text" id="text-input" formControlName="batchNumber" name="text-input" class="form-control" placeholder="Batch Number">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Remarks</label>
                <div class="col-md-9">
                  <input type="text" id="text-input" formControlName="remarks" name="text-input" class="form-control" placeholder="Remarks">
                </div>
              </div>
            </form>
          </div>
          <div class="card-footer">
            <button type="submit" [ladda]="savingVaccinationData" (click)="onSubmit()" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> Submit</button>
            <button type="button" (click)="cancelSelection()" class="btn btn-sm btn-warning pl"><i class="fa fa-dot-circle-o"></i> Cancel</button>
          </div>
        </div>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
</div>
